/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * WolfAndSheeps implementation : © joesimpson <1324811+joesimpson@users.noreply.github.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * wolfandsheeps.css
 *
 * WolfAndSheeps stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (wolfandsheeps_wolfandsheeps.tpl), and to HTML elements you create dynamically
    (in wolfandsheeps.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):
*/


/**
 prefix IDENTIFIER for this game : "wsh"
*/

:root {
    /** Could be used to add a "slider" to change board width */
  --wsh_cell_size: 62px;
}

.wsh_theme_dark #overall-content
{
    /** overall-content is the BGA page  */
    background: #000000bf;
}
.wsh_theme_dark #wsh_game_zone{
    color: white;
}

/* BGA - PLAYER PANEL  */
.wsh_theme_dark .player-board{
    /** Keep the framework background-color, but add alpha (opacity 50%)*/
    background-color: #ebd5bd7d;
    /*color: white;*/
}
/** Add a WHITE shadow behind player name in case of dark color (black)*/
.wsh_theme_dark .player_board_inner>.player-name>a:first-child{
    text-shadow: 1px 1px 5px white;
}
/** Add a BLACK shadow behind player name in case of bright colors like white/orange*/
.wsh_theme_dark .player_board_inner>.player-name>a[style='color: #ffffff'],
.wsh_theme_standard .player_board_inner>.player-name>a[style='color: #ffffff']
{
    text-shadow: 1px 1px 5px black;
}

/* WHITE */
.wsh_token_ffffff{
   background-position: 000% 000%;
   filter: drop-shadow(0px 0px 2px #000);
}

/* BLACK */
.wsh_token_000000{	
   background-position: 100% 000%;
   filter: drop-shadow(0px 0px 2px #fff);
}

/** Don't put shadow on mobile or Safari with slow moving animation */
.dj_safari .wsh_token,
.mobile_version .wsh_token
{
   filter: none;
}

.wsh_token{	
   width: var(--wsh_cell_size);
   height: var(--wsh_cell_size);
   position: absolute;
   background-image: url('img/tokens.png');
   background-size: 200% 100%;
}


#wsh_game_zone {
    text-align: center
}
 
#wsh_board {
    border: 8px outset #630;
    display: inline-block;
    margin: calc(0.5*var(--wsh_cell_size));
    position: relative
}
 
.wsh_board_size_8 {
    height: calc(8*var(--wsh_cell_size));
    width: calc(8*var(--wsh_cell_size));
}

.wsh_board_size_10 {
    height: calc(10*var(--wsh_cell_size));
    width: calc(10*var(--wsh_cell_size));
}

.wsh_cell_holder {
    background-image: url(img/cells.jpg);
    background-size: calc(2*var(--wsh_cell_size)) calc(2*var(--wsh_cell_size));
}

.wsh_cell,.wsh_cell_holder {
    height: var(--wsh_cell_size);
    position: absolute;
    width: var(--wsh_cell_size);
}

.wsh_cell_dark {
    background-position: calc(-1*var(--wsh_cell_size)) 0;
}

.wsh_cell_light {
    background-position: 0 0
}
.wsh_token{
    /** allways display over cells*/
    z-index: 1;
}

.wsh_possibleMoveFrom:hover {
    transform: scale(1.1);
}
.wsh_possibleMoveFrom{
    cursor: pointer;
    /*border-radius: 100%;*/
    /*outline: 5px solid yellow;*/
}

/** Some 'hack' to replace the use of border-radius and outline on same elt (not working on some Safari ipad etc...) : use a border before / after the element */
.wsh_possibleMoveFrom::after {
   content: '';
   position: absolute;
   left: -5px;
   top: -5px;
   right: -5px;
   bottom: -5px;
   border-radius: 50%;
   border: 5px solid yellow;
}
.wsh_possibleMoveFromHere::after {
    -webkit-animation: wsh_rotate 12s linear infinite;
    border-style: dashed;
}
.wsh_possibleMoveTo::after {
   content: '';
   position: absolute;
   left: -4px;
   top: -4px;
   right: -4px;
   bottom: -4px;
   border-radius: 50%;
   border: 4px solid lightblue;
}

.wsh_chosenMoveTo::after{
   border: 4px solid blue;
   animation: wsh_blinker 1s linear infinite;
}

.wsh_possibleMoveFromHere{
    /* 
    -webkit-animation: wsh_rotate 12s linear infinite;
    outline-style: dashed; 
    */
    /** To se outline rotating outside cell */
    z-index: 2;
}

.wsh_possibleMoveTo{ 
    /*
    border-radius: 100%;
    outline: 4px solid lightblue;
    */
    cursor: pointer;
    width: 80%;
    height: 80%;
    margin: 10%;
}

/* Rotating circle : */
@-webkit-keyframes wsh_rotate {
  from{ -webkit-transform: rotate(0deg);   }
  to{   -webkit-transform: rotate(360deg); }
}

@keyframes wsh_blinker {
    50% {
        opacity: 0;
    }
}

.wsh_coordinate {
    font-family: Arial,Verdana;
    font-size: 13px;
    font-weight: 400;
    position: absolute
}

.wsh_lastMove:not(.wsh_possibleMoveFrom){
    /**
    these 2 classes should not happen at the same time except with zombie
    */
    outline: 3px solid white;
}

/*** FIX BGA 3D mode clicks : **/
.mode_3d #game_play_area_wrap {
    pointer-events: none;
 }
 #wsh_game_zone {
    pointer-events: all;
 }
 
/* ---------------------------- ----------------------------   ---------------------------- */
/* Re enable list style over BGA common CSS, only for wanted section : game WIKI */ 
#pagesection_howtoplay li { margin-left: 2em; } 
#pagesection_howtoplay ol li { list-style: decimal; } /* BEFORE ul in case there are ul under ol */ 
#pagesection_howtoplay ul li { list-style: disc; }
